.center {
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 40px;
  position: relative;
}
.top_title {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 14px;
}
.top_title a {
  color: #666;
}
.top_title span {
  color: #6391f1;
}
h1 {
  width: 43.5%;
  height: 45px;
  line-height: 45px;
  margin-top: 15px;
  margin-left: 66px;
  font-size: 22px;
  font-weight: bolder;
  text-indent: 10px;
  border-bottom: 1px solid #eee;
}
.file_list {
  width: 88%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 15px;
  margin-left: 66px;
  background-color: #eee;
  box-sizing: border-box;
}
.file_list_center {
  margin: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #fff;
}
.file_list_center .file_detail {
  height: 50px;
  line-height: 50px;
  margin: 10px 15px 0 15px;
  font-size: 18px;
  text-indent: 45px;
  border-bottom: 1px dotted #ddd;
  background-image: url('../images/fileDownload1.png');
  background-repeat: no-repeat;
  background-position: 20px 14px;
}
.file_list_center .file_detail:hover {
  background-color: #f2f2f2;
}
.file_list_center .file_detail:last-child {
  margin-bottom: 25px;
}
h1 {
  width: 88%;
  height: 45px;
  line-height: 45px;
  margin-top: 15px;
  margin-left: 66px;
  border-left: 5px solid #1884e1;
  font-size: 22px;
  font-weight: bolder;
  text-indent: 10px;
  border-bottom: 1px solid #eee;
}
.file_list {
  width: 88%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 15px;
  margin-left: 66px;
  background-color: #eee;
  box-sizing: border-box;
}
a.right {
  color: #000;
  margin-right: 20px;
}
a.right:hover {
  color: blue;
}